#GPHOTO {
  background-size:cover; /* or use 'contain' for your purpose */
  background-repeat:no-repeat;
  background-position:center;
  transition: opacity 1s ease 1s;
}

.region.fullscreen #GPHOTO {
  position:absolute;
  top:0;
  left:0;
}

.datelabel {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  text-shadow: 0px 0px 1px black, 2px 2px 5px white;
}

/*
.region > .container {
  background-color: rgba(0,0,0,0.5);
}
*/
