#GPHOTO_INFO {
  --top: none;
  --left: none;
  --bottom: 0;
  --right: 0;
}

@keyframes trans {
  from {opacity: 0}
  to {opacity: 1}
}

.region.fullscreen #GPHOTO {
  position:static;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}


#GPHOTO {
  position:relative;
  min-width: 300px;
  min-height:300px;
}

#GPHOTO_CURRENT {
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
}

#GPHOTO_CURRENT.animated {
  animation-name: trans;
  animation-duration: 2s;
}

#GPHOTO_BACK {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  filter: blur(10px) sepia(80%) brightness(40%);
}

#GPHOTO_INFO {
  position:absolute;
  top: var(--top);
  left: var(--left);
  bottom: var(--bottom);
  right: var(--right);
  margin:10px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 36px;
  line-height: 100%;
  text-align:left;
}

#GPHOTO_INFO .albumCover {
  width:48px;
  height:48px;
  border-radius:50%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  float:left;
}

#GPHOTO_INFO .albumTitle {
  color:#FDD;
}

#GPHOTO_INFO .photoTime {
  color:#DFD;
}

#GPHOTO_INFO .infoText {
  float:right;
  margin-left: 12px;
  padding-right: 12px;
  padding-top:6px;
  font-size:18px;
  line-height:100%;
  color:#FFF;
}
