
#GPHOTO {
  background-size:cover; /* or use 'contain' for your purpose */
  background-repeat:no-repeat;
  background-position:center;
  transition: background-image 2s linear 1s;
}

.region.fullscreen #GPHOTO {
  position:absolute;
  top:0;
  left:0;
}

/*
.region > .container {
  background-color: rgba(0,0,0,0.5);
}
*/
